
body{
  margin: 0px;
}

#header {
  border-style: solid;
  border-radius: 30px;
  top: -30px;
  position: absolute;
  background: rgba(200,200,200,.9);
  width: 20%;
  min-width: 225px;
}

#headerTitle{
  margin: 40px 10px 0px;
  text-align: center;
}

#welcomeOptions{
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  text-align: center;
  top: 20%;
  position: fixed;
  left: 10%;
  background: rgba(200,200,200,.9);
}

#signupButton {
    width: 130px;
    margin: 0px calc(130px - 25%) 20px;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

#calendar{
  margin:30px;
}
/* Month header */
.month {
    padding: 70px 25px;
    /*width: 100%;*/
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .title{
  padding-left: 5%;

}
/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    height: 20px;
}

.weekdays li {
    display: inline-block;
    width: calc(14.28% - 1px);
    color: #666;
    text-align: center;
    float: left;
    border-width: 1px;
    border-left-style: dotted;
}

/* Days (1-31) */
.days {
    padding: 5px 0;
    background: #eee;
    margin: 0;
    height: 200px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: calc(14.28% - 6px);
    /*text-align: center;*/
padding-bottom: 5px;
font-size:12px;
    color:#777;
    height:90px;
    float: left;
    border-width: 1px;
padding-left: 5px;
border-left-style: dotted;
margin-bottom: 10px;
cursor: pointer; cursor: hand;
}
.days li #button{
  display: none;
  max-width: 30px;
  width: 25%;
  min-width: 15px;
  float: right;
  margin-right: 2%;
  margin-top: 2px;
}
.days li:hover #button{
  display: block;
}
.days li:hover {
    background-color: rgba(119,119,119,0.1);
}
.days li span{
  float: left;
padding: 5px;
margin: 5px;
}
/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
